<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Practica ThreeJS</title>
    <link rel="shortcut icon" href="">
    <link rel="stylesheet"  href="/styles/css/main.css">
    <style media="screen">
      html, body {
        width: 100%;
        height: 100%;
        margin: 0;
      }
    </style>
  </head>

  <div class="contenedorprincipal">
    <div class="contenedor">
    <div id='juegoBuscar' class="text">Find</div>
    <div id='juegoTiempo' class="text">Time</div>
    </div>
    <div class="contenedor">
      <div id='juegoRonda' class="text">Round</div>
      <div id='juegoPuntos' class="text">Score</div>
    </div>
      
    <button id='juegoBotonReiniciar' class="restart">Restart</button>
    <button id='juegoSalirBoton' class="quit">Quit</button>
  </div>

  <body>
    <div id="container"></div>
  </body>

  <script type="module" src="/scripts/main.js"></script>

</html>

    
